<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="icon" href="%= BASE_URL %>favicon.ico">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/styles/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
    <title></title>
  </head>
  <body>
   <!-- Header  -->
<header>
      <div class="icon">    
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
      <div class="data"> <ul>
          <li>LMS</li>
          <li>My IUB</li>
          <li>Eportal</li>
          <li>Gallary</li>
          <li>News cuts</li>
          <li>Tenders</li>
          <li>Rules</li>
          <li>Careers</li>
          <li>Download</li>
      </ul>
  </div>
</header>
<section>
  <div class="img"><img src="../static/images/greyheader.png" width="400px" height="50px" alt=""> </div>
      <ul>
          <li>About</li>
          <li>Administration</li>
          <li>Admissions</li>
          <li>Acadamics</li>
          <li>Campuses</li>
          <li>Campus life</li>
          <li>Publications</li>
      </ul>
  </div>
</section>
<section class="sec3">
 <div>
  <input type="search" placeholder="Search"><button class="search">search</button>
 </div>
</section>
   </div>
    
<!-- Main Section -->
    <div class=" main-con px-5">
      <div class="display-5 fw-bolder mt-5" >
          Research Supervisors
     </div>
     {% with messages = get_flashed_messages() %}
     {% if messages %}
        {% for message in messages %}
         <h3 class="flash-msg"  > {{message}}</h3>
        {% endfor %}
     {% endif %}
    {% endwith %}  
       
       <ul class="mt-3">
        <a  href="/foengineering"  >  Faculty of Engineering   </a>
        <a href="/focomputing" >  Faculty of Computing    </a>
        <a href="/fomanagement" >  Faculty of Management Science and Commerce     </a>
        <a href="/fopharmacy" >  Faculty of Pharmacy        </a>
        <a href="/foagri">  Faculty of Agriculture and Environment        </a>
        <a href="/fomedicine"  >   Faculty of Medicine and Allied Health Science       </a>
        <a href="/foanimalscience"  >   Faculty of Veterinary and Animal Sciences       </a>
        <a href=" /fosocialscience "  >  Faculty of Social Science      </a>
      </ul>
    </div>  
    <div class="container mt-5"  id="fo-engineering" >
      <div class="fs-5 my-5 text-center fw-bolder">Faculty of Engineering</div>
      <div  class="insert-modal" >
        <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary my-3 px-3 py-2 " data-toggle="modal" data-target="#exampleModal">
    + Add Supervisor
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">+ Add Supervisor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  action="/foengineering/insert" method="post" >
            <label for="id">Id </label>
            <br>
            <input type="text" name="id" id="id"  >
            <br>
            <label for="sup-name"> Supervisor Name </label>
            <br>
            <input type="text" name="supname" id="sup-name"  >
            <br>
            <label for="role"> Role  </label>
            <br>
            <input type="text" name="role" id="role"    >
            <br>
            <label for="dept"> Department</label>
            <br>
            <input type="text" name="dept" id="dept"     >
            <br>
            <label for="faculty">  Faculty </label>
            <br>
            <input type="text" name="faculty" id="faculty"    >
            <br>
            <label for="email"> Email </label>
            <br>
            <input type="email" name="email" id="email"     >
            <br>
            <input type="submit" class="btn btn-primary my-3" value="Add"  > 
            <!-- <a href="/foanimalscience/update"> submit</a> -->
        </form>
        </div>
      
      </div>
    </div>
  </div>
       </div>
      <table>
        <thead>
          <tr>
            <th>Id.No</th>
            <th>Supervisor Name</th>
            <th> Role</th>
            <th>Department</th>
            <th>Faculty</th>
            <th>Email</th>
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody>
            {% for supervisor in supervisors %}
          <tr>
            <td>{{supervisor.id }}</td>
            <td>{{supervisor.supervisor_name}}   </td>
            <td>{{supervisor.role }}</td>
            <td>{{supervisor.department }}</td>
            <td>{{ supervisor.faculty }}</td>
            <td>{{supervisor.email }}</td>
            <td  class="text-center" >
                
                
                <!-- <a href="/foanimalscience/update/{{supervisor.id}}" class="btn btn-warning px-4 my-2" >Edit</a> -->
                <!-- Button trigger modal -->
   <button type="button" class="btn btn-warning px-4 my-2" data-toggle="modal" data-target="#exampleModalCenter">
    Edit
   </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body  text-left ">
                <form  action="//foengineering/update" method="post" >
                <label for="id">Id </label>
                <br>
                <input type="text" name="id" id="id" value="" >
                <br>
                <label for="sup-name"> Supervisor Name </label>
                <br>
                <input type="text" name="supname" id="sup-name"  value=""  >
                <br>
                <label for="role"> Role  </label>
                <br>
                <input type="text" name="role" id="role">
                <br>
                <label for="dept"> Department</label>
                <br>
                <input type="text" name="dept" id="dept">
                <br>
                <label for="faculty">  Faculty </label>
                <br>
                <input type="text" name="faculty" id="faculty">
                <br>
                <label for="email"> Email </label>
                <br>
                <input type="email" name="email" id="email">
                <br>
                <input type="submit" class="btn btn-primary my-3" value="update" > 
                <!-- <a href="/foanimalscience/update"> submit</a> -->
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
  </div>
                <a href="//foengineering/delete/{{supervisor.id}}" class="btn btn-danger px-3 " onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                
            </td>    
          </tr>
          {%  endfor %}
        </tbody>
      </table>
      <div class=" my-5 text-center fw-bolder text-primary">See more</div>
    </div>
  
<!-- Footer -->
   <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Video Gallery</h4>
          <small class="text-gray">Official Youtube Channel The Islamia University of Bahawalpur, Pakistan</small>
          <div class="bot-gal h-vid ho-event-mob-bot-sp mt-3">
            <iframe src="https://www.youtube.com/embed/eRD0zToypAo?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen="">

            </iframe>
          </div>
        </div>
        <div class="col-md-4">
          <h4> QUICK LINKS</h4>
          <ul>
            <li class=" "><a href="https://www.iub.edu.pk/faqs" target="_self"><i class=""></i><span>Faq's</span></a></li>
            <li class=" "><a href="https://www.iub.edu.pk/downloads" target="_self"><i class=""></i><span>Downloads</span></a></li>
            <li class=" "><a href="https://www.iub.edu.pk/quick-links-iub" target="_self"><i class=""></i><span>Quick Links</span></a></li>
            <li class=" "><a href="https://www.iub.edu.pk/terms-of-use" target="_self"><i class=""></i><span>Terms of Use</span></a></li>
            <li class=" "><a href="https://www.iub.edu.pk/terms-of-use" target="_self"><i class=""></i><span>Terms of Use</span></a></li>
            <li class=" "><a href="https://www.iub.edu.pk/terms-of-use" target="_self"><i class=""></i><span>Terms of Use</span></a></li>
            <li class=" "><a href="https://alumni.iub.edu.pk/" target="_blank"><i class=""></i><span>Join IUB Alumni Network</span></a></li>
            <li class=" current "><a href="https://iub.edu.pk/societies-overview" target="_self"><i class=""></i><span>IUB Student Societies</span></a></li>
          </ul>
        </div>
        <div class="col-md-4 ">
         <h4>Get in Touch</h4>
         <div class="addresspart">
          <p>Address: Registrar Office, Abbasia Campus, University Chowk, Bahawalpur.</p>
          <p>Phone: <a href="#!">+92 - 62 - 9250235</a></p>
          <p>Helpline Center: 03469255555, 03479255555, +92-62-9255580</p>
          <p>Email: <a href="#!">info@iub.edu.pk</a></p>
         </div>
         <h6>SOCIAL MEDIA | MY IUB APP</h6>
         <a class="col-sm-2" href="https://twitter.com/theiubwp"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        
      </div>
    </div>
   </footer> 
   <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.068624812913!2d71.68870221426052!3d29.397548482122264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b90eaa761f651%3A0x7cf2b0b3cfe14c1a!2sThe%20Islamia%20University%20of%20Bahawalpur!5e0!3m2!1sen!2s!4v1570701139431!5m2!1sen!2s" width="100%" height="350" frameborder="0" class="page_speed_1023023078" allowfullscreen=""></iframe></div>
   <section class="wed-rights"><div class="container"><div class="row"><div class="copy-right"><p>© 2022 The Islamia University of Bahawalpur iub.edu.pk</p></div></div></div></section>
    <!-- built files will be auto injected -->
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="app.js"></script>
  </html>
